#navBar {
    font-family: 'Istok Web', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-shadow: 0 1px 2px #1C171B;
}

.button {
    color: #B6B6C8;
    font-size: 1.3em;
    font-weight: 700;
    text-shadow: 0 1px 2px #1C171B;
    text-decoration: none;
}

.active {
    color: #69FFF1;
    font-size: 1.4em;
}

@media all and (max-width: 1024px) {
    .button {
        font-size: 1.3em;
    }
    .active {
        font-size: 1.4em;
    }
}
@media all and (max-width: 839px) {
    #navBar {
        flex-direction: row;

    }
    .logo {
        /*margin: 0;*/
        /*margin-top: 1vmin;*/
        display: none;
    }
    .button {
        font-size: 1.2em;
        margin: 0;
        margin-top: 1vmin;
    }
    .active {
        font-size: 1.3em;
    }
}
@media all and (max-width: 480px) {
    #navBar {
        flex-direction: row;
    }
    .logo {
        /*margin: 0;*/
        /*margin-top: 1vmin;*/
        display: none;
    }
    .button {
        font-size: 1.1em;
        margin: 0;
        margin-top: 1vmin;
    }
    .active {
        font-size: 1.2em;
    }
}